.create-ingredient-nutri-wrapper > .kcal, .create-ingredient-nutri-wrapper > .protein,
.create-ingredient-nutri-wrapper > .carbs, .create-ingredient-nutri-wrapper > .fat,
.create-ingredient-nutri-wrapper > .fibre, .create-ingredient-form > .name {
    color: var(--secondary-color);
    display: block;
    width: 30%;
    height: 40px;
    line-height: 36px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
}

.create-ingredient-form > .name {
    top: 22%;
    height: 50px;
    font-size: 22px;
}

.create-ingredient-nutri-wrapper > .kcal {
    top: 35%;
}

.create-ingredient-nutri-wrapper > .carbs {
    top: 41%;
}

.create-ingredient-nutri-wrapper > .fat {
    top: 47%;
}

.create-ingredient-nutri-wrapper > .protein {
    top: 53%;
}

.create-ingredient-nutri-wrapper > .fibre {
    top: 59%;
}

.create-ingredient-form > .desc {
    color: var(--secondary-color);
    display: block;
    width: 30%;
    height: 140px;
    font-size: 16px;
    position: fixed;
    border: 2px solid var(--primary-color);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    top: 75%;
    left: 50%;
    padding: 5px 10px 5px 10px;
    resize: none;
    box-sizing: border-box;
}

.create-ingredient-submit-button {
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    width: 15%;
    height: 50px;
    background-color: var(--primary-color);
    display: block;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    box-sizing: padding-box;
    font-size: 22px;
    top: 90%;
}


.create-ingredient-submit-button:hover{
    cursor: pointer;
    background-color: var(--primary-color-hover);
    border: 2px solid var(--primary-color-hover);
}

