/*Defines the font, size, position, border, and centers the text of all the input fields inside the CreateIngredient
 component*/
.create-ingredient-nutri-wrapper > .kcal, .create-ingredient-nutri-wrapper > .protein,
.create-ingredient-nutri-wrapper > .carbs, .create-ingredient-nutri-wrapper > .fat,
.create-ingredient-nutri-wrapper > .fibre, .name {
    color: var(--contrast-to-secondary);
    display: block;
    width: 30%;
    height: 40px;
    line-height: 36px;
    font-size: 20px;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
}

/*Allocates the position of the food name input in the CreateIngredient component and adjusts its size*/
.create-ingredient-form > .name {
    top: 22%;
    height: 50px;
    font-size: 22px;
}

/*Allocates the position of the food kilocalories input in the CreateIngredient component*/
.create-ingredient-nutri-wrapper > .kcal {
    top: 35%;
}

/*Allocates the position of the food carbohydrates input in the CreateIngredient component*/
.create-ingredient-nutri-wrapper > .carbs {
    top: 41%;
}

/*Allocates the position of the food fat input in the CreateIngredient component*/
.create-ingredient-nutri-wrapper > .fat {
    top: 47%;
}

/*Allocates the position of the food protein input in the CreateIngredient component*/
.create-ingredient-nutri-wrapper > .protein {
    top: 53%;
}

/*Allocates the position of the food fibre input in the CreateIngredient component*/
.create-ingredient-nutri-wrapper > .fibre {
    top: 59%;
}

/*Defines the color, font, size, position, border, overflow, and centers the text of the description text area*/
.desc {
    color: var(--contrast-to-secondary);
    display: block;
    width: 30%;
    font-size: 16px;
    position: fixed;
    border: 2px solid var(--primary-color);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
    padding: 5px 10px 5px 10px;
    resize: none;
    box-sizing: border-box;
    overflow-y: scroll;
}

/*Adjusts position and size of the description text area inside the CreateIngredient component*/
.create-ingredient-form > .desc {
    top: 75%;
    height: 140px;
}

/*Defines the size, font, color, position, border and centers the text of the submit button in the CreateIngredient component*/
.create-ingredient-submit-button {
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--secondary-color);
    width: 15%;
    height: 50px;
    background-color: var(--primary-color);
    display: block;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    box-sizing: padding-box;
    font-size: 22px;
    top: 90%;
}

/*Changes the color of the submit button and the cursor whenever user hover over it*/
.create-ingredient-submit-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
    border: 2px solid var(--primary-color-hover);
}

/*Defines the size, position, color, font size, background color, and centers the text of the label in the CreateIngredient
component*/
.create-ingredient-label {
    color: var(--primary-color);
    display: block;
    width: 30%;
    height: 40px;
    line-height: 36px;
    font-size: 22px;
    position: fixed;
    vertical-align: middle;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
    top: 31%;
}

/*Defines the size, position, color, font size, background color, and centers the text of the error message in the
 CreateIngredient component*/
.create-ingredient-message {
    color: var(--contrast-to-secondary);
    display: block;
    width: 30%;
    height: 20px;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    position: fixed;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
}

/*Defines the size, position, opacity, font size, background, and text align of the message informing the user that it is not
obligatory to fill the description field in the CreateIngredient component*/
.voluntary {
    top: 67%;
    text-align: left;
    line-height: 13px;
    font-size: 11px;
    opacity: 0.7;
    background: none;
}

@media only screen and (max-height: 900px) {

    /*Adjusts the size of all the input fields inside the CreateIngredient component on smaller devices*/
    .create-ingredient-nutri-wrapper > .carbs, .create-ingredient-nutri-wrapper > .fat, .create-ingredient-nutri-wrapper > .protein,
    .create-ingredient-nutri-wrapper > .fibre, .create-ingredient-nutri-wrapper > .kcal, .create-ingredient-form > .desc,
    .create-ingredient-form > .name {
        width: 40%;
        height: 34px;
    }

    /*Adjusts the position of the food kilocalories input in the CreateIngredient component on smaller devices*/
    .create-ingredient-nutri-wrapper > .kcal {
        top: 35%;
    }

    /*Adjusts the position of the food carbohydrates input in the CreateIngredient component on smaller devices*/
    .create-ingredient-nutri-wrapper > .carbs {
        top: 42%;
    }

    /*Adjusts the position of the food name fat in the CreateIngredient component on smaller devices*/
    .create-ingredient-nutri-wrapper > .fat {
        top: 49%;
    }

    /*Adjusts the position of the food name protein in the CreateIngredient component on smaller devices*/
    .create-ingredient-nutri-wrapper > .protein {
        top: 56%;
    }

    /*Adjusts the position of the food name fibre in the CreateIngredient component on smaller devices*/
    .create-ingredient-nutri-wrapper > .fibre {
        top: 63%;
    }

    /*Adjusts the font size and position of the label on smaller devices*/
    .create-ingredient-label {
        font-size: 20px;
        top: 30%;
        left: 44.8%;
    }

    /*Adjusts the size and position of the food description text area on smaller devices*/
    .create-ingredient-form > .desc {
        top: 77%;
        height: 100px;
    }

    /*Adjusts the position of the message informing the user that description text area does not have to be filled on smaller devices*/
    .voluntary {
        top: 69%;
        left: 45%;
    }

    /*Adjusts the size of the food name input in the CreateIngredient component on smaller devices*/
    .create-ingredient-form > .name {
        height: 38px;
    }
}

