.create-meal-form > .desc {
    top: 57%;
    height: 240px;
}

.create-meal-form > .name {
    top: 38%;
    font-size: 24px;
    line-height: 28px;
}

.create-meal-step, .create-meal-searched-food {
    display: block;
    width: 30%;
    line-height: 36px;
    font-size: 24px;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
}

.create-meal-step {
    height: 40px;
    top: 15%;
    color: var(--primary-color);
}

.create-meal-searched-food {
    top: 35%;
    color: var(--secondary-color);
}

.create-meal-button, .create-meal-submit, .create-meal-add-ingredient {
    color: var(--secondary-color);
    width: 15%;
    height: 50px;
    background-color: var(--primary-color);
    display: block;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    box-sizing: padding-box;
    font-size: 22px;
    left: 50%;
}

.create-meal-next {
    left: 50%;
    top: 17%;
}

.create-meal-previous {
    left: 35%;
    top: 17%;
}

.create-meal-submit {
    left: 0;
    position: static;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.create-meal-add-ingredient {
    position: static;
    margin-top: 32px;
    margin-bottom: 22px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.create-meal-button:hover, .create-meal-submit:hover, .create-meal-add-ingredient:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
    border: 2px solid var(--primary-color-hover);
}

.create-meal-add-ingredient-wrapper > .grams {
    color: black;
    display: block;
    height: 36px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
    top: 84%;
    width: 30%;
    position: static;
}

.create-meal-preview {
    display: block;
    width: 100%;
    background: none;
    line-height: 36px;
    font-size: 22px;
    position: fixed;
    vertical-align: middle;
    left: 50%;
    top: 35%;
}

.create-meal-preview-table {
    color: black;
    display: block;
    width: 30%;
    max-height: 250px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    background-color: white;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin-bottom: 20px;
    overflow-y: scroll;
}

.table-cell-restriction > .fa-trash-alt {
    color: black;
}

.create-meal-ingredient + .create-meal-ingredient {
    border-top: 1px solid var(--primary-color);
}

.create-meal-add-ingredient-wrapper {
    display: block;
    width: 100%;
    background: none;
    line-height: 36px;
    font-size: 22px;
    position: fixed;
    vertical-align: middle;
    left: 50%;
    top: 30%;
}

.create-meal-add-ingredient-wrapper > .food-details-wrapper {
    position: static;
    margin-bottom: 40px;
}

.create-meal-add-ingredient-wrapper > .grams, .create-meal-add-ingredient-wrapper > .create-meal-add-ingredient {
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.create-meal-ingredient {
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.create-meal-ingredient > .delete-button {
    position: relative;
    float: left;
}

.create-meal-form > .voluntary {
    top: 44%;
}

@media only screen and (max-height: 900px) {
    .create-meal-form > .desc {
        top: 63%;
        width: 40%;
        height: 240px;
    }

    .create-meal-form > .name {
        width: 40%;
        top: 37.5%;
    }

    .create-meal-button, .create-meal-submit, .create-meal-add-ingredient {
        width: 20%;
    }

    .create-meal-add-ingredient {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .create-meal-previous {
        left: 30%;
        top: 17%;
    }

    .create-meal-add-ingredient-wrapper  {
        top: 25%;
    }

    .create-meal-add-ingredient-wrapper > .food-details-wrapper {
        position: static;
        margin-bottom: 18px;
    }

    .create-meal-preview-table {
        width: 40%;
    }

    .create-meal-add-ingredient-wrapper > .grams {
        top: 0;
    }

}

