:root {
    --background-color: white;
    --primary-color: #0400CA;
    --primary-color-hover: #030144;
    --secondary-color: white;
    --placeholder: #C0C0C0;
}

* {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

*:focus {
    outline: none;
}


.far, .fas {
    color: white;
}

body {
    margin:0;
}