.password, .email {
    color: var(--secondary-color);
    display: block;
    width: 30%;
    height: 50px;
    line-height: 36px;
    font-size: 22px;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    left: 50%;
}

.login-form > .email {
    top: 42%;
}

.login-form > .password {
    top: 50%;
}

.login-button {
    color: var(--secondary-color);
    width: 10%;
    height: 50px;
    background-color: var(--primary-color);
    display: block;
    margin: auto;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    border: 2px solid var(--primary-color);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 22px;
    left: 50%;
}

.login-button {
    top: 58%;
}

.login-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
    border: 2px solid var(--primary-color-hover);
}

::-webkit-input-placeholder, ::placeholder {
    color: var(--placeholder);
}

:-ms-input-placeholder {
    color: var(--placeholder);
}

.login-error {
    display: block;
    margin: auto;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 36%;
    left: 50%;
    color: red;
    opacity: 0.75;
}

@media only screen and (max-height: 900px) {
    .password, .email {
        width: 40%;
    }

    .login-form > .email {
        top: 40%;
    }

    .login-form > .password {
        top: 52%;
    }

    .login-button {
        top: 64%;
        width: 24%;
    }

    .login-error {
        top: 31%;
    }
}
